.button {
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--lightblack);
  color: var(--main-color);
  overflow: hidden;
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-style: solid;
  background-clip: border-box;
  border-color: var(--main-color);
  border-width: 2px;
  border-radius: 0;

  &:hover {
    transition: 0.3s ease-out;
    background-color: var(--main-color);
    transform: scale(1.1);
    color: var(--white);
  }

  &:hover::before {
    height: 100%;
  }

  &:active {
    transform: scale(0.95);
  }

  & a {
    color: inherit;
    cursor: pointer;
    transition: 0.3s ease-out;
  }
}

@media only screen and (width <= 375px) {
  .hero-container {
    .heromodule-content {
      & a {
        padding: 15px 37px;
      }
    }
  }
}

@media only screen and (width <= 320px) {
  .hero-container {
    .heromodule-content {
      & a {
        padding: 15px 23px;
      }
    }
  }
}
