.button {
  position: relative;
  display: inline-block;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--green);
  color: var(--white);
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &:hover {
    transition: 0.3s ease-out;
    background-color: var(--green-hover);
  }

  &:hover::before {
    height: 100%;
  }

  & span {
    position: relative;
    z-index: 1;
  }

  & svg {
    position: relative;
    margin-left: 15px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--white);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease-out;
  }

  &:hover svg {
    transform: translateX(0);
  }

  &:active {
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-out;
}
