.contactpage-container {
  height: 100vh;
  background-color: grey;

  & div {
    padding-top: 1rem;

    #phone-hover {
      color: var(--white);
      margin-right: 1rem;

      & svg {
        transition: all 0.3s ease-out;
      }

      & svg:hover {
        transform: scale(1.2);
      }
    }

    @media only screen and (width <= 385px) {
      .phone-wrap {
        display: flex;
        flex-direction: column;

        & #phone-hover {
          margin-right: 0;
        }
      }
    }
  }
}
