/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable named-grid-areas-no-invalid */

.footer-container {
  background: linear-gradient(90deg, #7a673d, #8f4545);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
}

footer {
  max-width: 1322px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  place-content: center;
  grid-template-areas:
    "logo socials"
    "links links";
  grid-template-columns: repeat(2, 1fr);
  color: var(--white);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background: rgb(0 0 0 / 10%);
  }
}

.logo {
  height: 5rem;
  grid-area: logo;
  transform: scale(1.5);
}

.socials {
  grid-area: socials;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 18px;

  & svg {
    color: var(--white);
  }

  & a {
    transition: all 0.3s ease-out;
  }

  & a:hover {
    transform: scale(1.2);
  }
}

.info {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0 30px;
  justify-items: center;
  gap: 10rem;

  & h2 {
    font-size: 16px;
    font-weight: 600;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
  }

  & adress {
    font-style: normal;
    line-height: 1.5;
    font-size: 14px;
  }
}

@media only screen and (width <= 1362px) {
  footer {
    padding-left: 0;
    padding-right: 0;

    & .info {
      padding-left: 20px;
      padding-right: 20px;
    }

    & .socials {
      padding-right: 20px;
    }

    & img {
      padding-left: 20px;
    }
  }
}

@media only screen and (width <= 873px) {
  footer .info {
    gap: 5rem;
  }
}

@media only screen and (width <= 565px) {
  @media only screen and (width <= 565px) {
    footer {
      grid-template: "logo socials" auto "links" auto / 1fr auto;
      row-gap: 20px;

      .info {
        grid-column: span 2;
        grid-template-columns: 1fr;
        display: grid;
        gap: 20px;
        justify-items: start;
        text-align: left;
      }

      .logo {
        justify-self: start;
      }

      .socials {
        justify-self: end;
        display: flex;
        gap: 10px;
      }
    }
  }
}
