.hero-container {
  bottom: 236px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.hero-content {
  margin: 0;
}

.hero-textcontent {
}

.hero-video {
  height: 100%;
  width: 100%;
}
