.homepage-container {
  background: linear-gradient(90deg, #7a673d, #8f4545);
  width: 100%;

  .homepage-grid-wrapper {
    max-width: 1322px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    height: calc(100vh - 10px);
    margin: 0 auto;
    text-align: center;

    & div {
      width: 100%;
      height: 100%;
    }

    .grid-1 {
      background: #c7ddea;
    }

    .grid-2 {
      background: #f17949;
    }

    .grid-3 {
      background: #ebebeb;
    }

    .grid-4 {
      background-color: #edc96b;
    }

    .grid-5 {
      background: #fab131;
    }

    .grid-6 {
      background-color: #edb46b;
    }
  }
}
