@use "./button";
@use "./footer";
@use "./hero";
@use "./home";
@use "./navbar";
@use "./sidebar";
@use "./menu";
@use "./contact";
@use "./find";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap";

:root {
  --white: #fbf6e5;
  --main-color: #a1624c;
  --secondary-color: #a39992;
  --grey: #2c2a28;
  --lightblack: #242422;
}

body {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 600;
}

.rootlayout {
  margin: 0 auto;
}

.main-content {
  max-width: 100%;
}
