.nav-container {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: sticky;
  background-color: #ffffff80;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: inline-flex;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0 4vh 0 4vh;

  a {
    font-size: 1.25rem;
    text-decoration: none;
  }
}

.hover-underline:hover {
  color: green;
}

.logo-wrapper {
  img {
    height: 5rem;
  }
}
