.nav-wrapper {
  width: 100%;
  max-width: 1322px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: var(--lightblack);
    border-width: 2px;
    border-radius: 0.5rem;
    transition: all 300ms ease-out;

    li {
      list-style: none;
      align-items: center;
      list-style-type: none;
      margin: 0 4vh;

      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 10px 20px;
        z-index: 1;
        color: var(--main-color);
        font-size: 1.25rem;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: all 0.3s ease-out;

        &:hover {
          color: var(--white);
          background: var(--main-color);
          transition: 0.3s ease-out;
          transform: scale(1.1);
        }
      }
    }
  }
}

.nav-list.scrolled {
  transform: scale(0.9);
}

.logo-wrapper {
  img {
    transition: 0.3s ease-out;
    transform: scale(1.2);
    height: 5rem;

    &:hover {
      transform: scale(1.5);
    }
  }
}

@media only screen and (width <= 1286px) {
  .nav-wrapper {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .nav-list {
      justify-content: center;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

@media only screen and (width <= 873px) {
  .nav-wrapper .nav-list {
    display: none;
  }
}
